body {
    background-color: rgb(243, 191, 149);
}

h1{
    color:brown;
    text-align: left;
    margin-left: 300px;
    font-family: lato;
    font-size: 200%;
}

h2{
    font-family: lato;
    text-align: center;
    color: brown;

}

h3{
    font-family: lato;
    text-align: center;
    color: brown;

}