body {
    background-color: rgb(243, 191, 149);
}

h1{
    color:brown;
    text-align: left;
    margin-left: 300px;
    font-family: 'Lato';
    font-size: 300px;
}

h2{
    font-family: 'Lato';
    text-align: center;
    color: brown;
    font-size: 150px;

}

h3{
    font-family: 'Lato';
    text-align: center;
    color: brown;
    font-size: 150px;

}

.square {
    width: 100px;
    height: 100px;
    background: black;
  }

.rectangle {
    width: 200px;
    height: 100px;
    background: red;
  }